In [23]:
###### Naive Bayes  ########

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

In [24]:
#Load data
X = np.load('/content/feat.npy')
y = np.load('/content/label.npy').ravel()

In [25]:
#Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [26]:
# Initialize classifier
gnb_clf= GaussianNB() #check input params

In [27]:
# Train model
gnb_clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [28]:
# Make predictions
prediction = gnb_clf.predict(X_test)

In [29]:
acc = gnb_clf.score(X_test, y_test)
print("Accuracy = %0.4f" %acc)

Accuracy = 0.6894

In [30]:
####### Random Forest #####

from sklearn.ensemble import RandomForestClassifier #Random Forest classifier

In [31]:
# Initialize classifier
rf_clf = RandomForestClassifier(n_jobs=2, random_state=0)

# Train model
rf_clf.fit(X_train, y_train)

# Make predictions
y_prediction = rf_clf.predict(X_test)

In [32]:
acc = rf_clf.score(X_test, y_test)
print("Accuracy = %0.4f" %acc)

Accuracy = 0.8333

In [33]:
rf_clf.predict_proba(X_test)[0:10]

array([[0.  , 0.11, 0.06, 0.01, 0.  , 0.6 , 0.07, 0.07, 0.  , 0.08],
       [0.02, 0.05, 0.06, 0.01, 0.  , 0.06, 0.08, 0.71, 0.01, 0.  ],
       [0.47, 0.01, 0.01, 0.11, 0.  , 0.06, 0.02, 0.03, 0.28, 0.01],
       [0.  , 0.14, 0.  , 0.02, 0.28, 0.08, 0.01, 0.  , 0.01, 0.46],
       [0.03, 0.22, 0.03, 0.07, 0.02, 0.46, 0.06, 0.07, 0.01, 0.03],
       [0.  , 0.57, 0.05, 0.  , 0.01, 0.01, 0.24, 0.  , 0.  , 0.12],
       [0.07, 0.  , 0.01, 0.2 , 0.05, 0.02, 0.02, 0.  , 0.62, 0.01],
       [0.01, 0.16, 0.76, 0.  , 0.  , 0.  , 0.02, 0.05, 0.  , 0.  ],
       [0.  , 0.08, 0.13, 0.05, 0.  , 0.02, 0.24, 0.48, 0.  , 0.  ],
       [0.03, 0.  , 0.02, 0.81, 0.  , 0.08, 0.02, 0.03, 0.01, 0.  ]])

In [34]:
#label decoding
label_classes = np.array(['Dog bark','Rain','Sea waves','Baby cry','Clock tick','Person sneeze','Helicopter','Chainsaw','Rooster',
                          'Fire crackling'])

In [35]:
# Decoding predicted and actual classes (numeric to written)
prediction_decoded = label_classes[y_prediction]
actual_value_decoded = label_classes[y_test]

In [36]:
## Generate Confusion Matrix
pd.crosstab(actual_value_decoded, prediction_decoded)

col_0           Baby cry  Chainsaw  Clock tick  ...  Rain  Rooster  Sea waves
row_0                                           ...
Baby cry              12         0           0  ...     0        1          0
Chainsaw               0        10           0  ...     1        0          0
Clock tick             0         0           8  ...     0        0          0
Dog bark               1         2           0  ...     0        1          0
Fire crackling         0         0           1  ...     0        0          0
Helicopter             0         2           0  ...     2        0          1
Person sneeze          0         0           0  ...     0        0          0
Rain                   0         0           0  ...    17        0          0
Rooster                1         0           0  ...     0       10          0
Sea waves              0         0           0  ...     4        0          9

[10 rows x 10 columns]

In [37]:
###### Support Vector Machine ######
import sklearn
from sklearn.svm import SVC, LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import reciprocal, uniform

In [38]:
# Data scaling 
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train.astype(np.float32))
X_test_scaled = scaler.transform(X_test.astype(np.float32))

In [39]:
# Implement simple linear SVM
svm_clf = SVC(C=28.0, gamma = 0.00001, decision_function_shape="ovr") #These parameters can be modified

# Fit model
svm_clf.fit(X_train, y_train)

SVC(C=28.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=1e-05, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [40]:
#Make predictions
y_predict = svm_clf.predict(X_test)

In [41]:
# Accuracy
acc = svm_clf.score(X_test, y_test)
print("accuracy=%0.4f" %acc)

accuracy=0.8182